In [16]:
from splinter import Browser
from bs4 import BeautifulSoup 
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

In [17]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
INFO:WDM:====== WebDriver manager ======
[WDM] - Current google-chrome version is 102.0.5005
INFO:WDM:Current google-chrome version is 102.0.5005
[WDM] - Get LATEST chromedriver version for 102.0.5005 google-chrome
INFO:WDM:Get LATEST chromedriver version for 102.0.5005 google-chrome
[WDM] - Driver [C:\Users\jfraz\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver.exe] found in cache
INFO:WDM:Driver [C:\Users\jfraz\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver.exe] found in cache

### NASA Mars News

In [18]:
url = "https://redplanetscience.com/"
 # Call visit on our browser and pass in the URL we want to scrape   
browser.visit(url)

In [19]:
html = browser.html
# Create a Beautiful Soup object, pass in our HTML, and call 'html.parser'
soup = BeautifulSoup(html, "html.parser")
slide_elem = soup.select_one('div.list_text')

In [20]:
news_title = slide_elem.find('div',class_='content_title').get_text()
news_title

"NASA's Perseverance Rover Bringing 3D-Printed Metal Parts to Mars"

In [21]:
news_p =slide_elem.find('div',class_='article_teaser_body').get_text()
news_p

"For hobbyists and makers, 3D printing expands creative possibilities; for specialized engineers, it's also key to next-generation spacecraft design."

### JPL Mars Space Images—Featured Image

In [22]:
mars_url ='https://spaceimages-mars.com/'
browser.visit(mars_url)
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [23]:
image = soup.find('img', class_="headerimage fade-in")['src']
featured_image_url =mars_url+image
featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

### Mars Facts

In [24]:
mars_facts_df = pd.read_html('https://galaxyfacts-mars.com')[0]
mars_facts_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [25]:
mars_facts_df.columns = ('Description','Mars','Earth')
mars_facts_df.set_index('Description', inplace =True)
mars_facts_df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [26]:
# Convert dataframe to HTML table
mars_facts_tr_html = mars_facts_df.to_html()
# Strip unwanted newlines to clean up the table
mars_facts_tr_html = mars_facts_tr_html.replace('\n', '')
# Strip table tag for easier html formatting
mars_facts_tr_html = mars_facts_tr_html.replace("<table border=\"1\" class=\"dataframe\">", "").\
                                                                    replace("</table>","").strip()
mars_facts_tr_html

'<thead>    <tr style="text-align: right;">      <th></th>      <th>Mars</th>      <th>Earth</th>    </tr>    <tr>      <th>Description</th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Mars - Earth Comparison</th>      <td>Mars</td>      <td>Earth</td>    </tr>    <tr>      <th>Diameter:</th>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>Moons:</th>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>Distance from Sun:</th>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>Length of Year:</th>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>Temperature:</th>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody>'

### Mars Hemispheres

In [27]:
hemi_url ='https://marshemispheres.com/'
browser.visit(hemi_url)

In [28]:
#create BeautifulSoup object and parse
soup = BeautifulSoup(browser.html, 'html.parser')

In [29]:
#get the 4 hemispheres (class of 'item')
hemispheres = soup.select('div.item')

In [30]:
#Loop through each hemisphere

hemisphere_image_urls = []

for h in hemispheres:
    title = (h.find('h3').text).replace(' Enhanced', '')
        
    #click the hemisphere
    browser.links.find_by_partial_text('Hemisphere').click()
    
    #make new soup of that page
    soup = BeautifulSoup(browser.html, 'html.parser')
    
    #find the full image
    full = soup.find('a', text='Sample')
    
    #get the img url
    img_url = full['href']
    
    #make a dict and append to the list
    hemispheres = {}
    hemispheres['img_url'] = f'https://marshemispheres.com/{img_url}'
    hemispheres['title'] = title
    hemisphere_image_urls.append(hemispheres)
    
    #go back 
    browser.back()

#close browser
browser.quit()    

hemisphere_image_urls

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere'},
 {'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Schiaparelli Hemisphere'},
 {'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Syrtis Major Hemisphere'},
 {'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Valles Marineris Hemisphere'}]